/* Section Qui sommes-nous */
.about {
  background-color: white;
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
  margin-top: 40px;
}

.about h2 {
  text-align: center;
  margin-bottom: 15px;
  font-size: 2em;
  color: #333;
}

.about p {
  font-size: 1.1em;
  line-height: 1.6;
  margin-bottom: 10px;
}
